<launch>
    <arg name="map_server" value = "1" />
    <rosparam file="$(find mushr_coordination)/config/4cars1.yaml" command="load" ns="init_planner" />

    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_sim)/launch/map_server.launch" />
    </group>
    <node pkg="rosbag" type="record" name="bag_recorder" output='screen' args="record -o /home/mushr/catkin_ws/src/mushr_coordination/bags/ -e '(.*)' -x '(.*)/camera(.*)'"/>
    <node pkg="mushr_coordination" type="init_planner.py" name="init_planner" output="screen" />
</launch>